body{
    margin: 0 auto;
    padding: 0;
    width: 1600px;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    background-color: #fc9d00;
}

li {
    display: inline;
}

a {
    color: white;
    padding: 30px;
    text-decoration: none;
    display: inline-block;
    width: 10%;
    font-size: 25px;
    text-align: center;
  }

a:hover {
    color: #fc9d00;
    background: white;
    font-weight: bold;
    text-decoration: underline;
}

h1{
    font-size: 30px;
}

article{
    margin: auto 3%;
    width: 60%;
}

article p{
    font-size: 20px;
}

article img{
    width: 100%;
}

table{
    border: 0;
    border-spacing: 3px;
}

td{
    border: 1px black solid;
    padding: 3px;
    text-align: center;
    font-size: 19px;
    width: 8%;
}

.th-table{
    font-weight: bold;
    background: lightgrey;
}


aside{
    float: right;
    width: 35%;
    font-size: 18px;
}

footer{
    background: #fc9d00;
    margin-bottom: 0;
    height: 60px;
    color: white;
    font-size: 24px;
    padding: 20px;
}